# Production AWS Backend
VITE_API_BASE_URL=http://3.83.57.208:8000

# Local Development
# VITE_API_BASE_URL=http://127.0.0.1:8000

# Different Machine on Local Network
# VITE_API_BASE_URL=http://192.168.X.X:8000
